{{#if this.links}}
    <div class="user-card-metadata-outlet custom-profile-links-links">
        {{#each this.links as |link|}}
            <span class="profile-link"><a href="{{link.[2]}}{{link.[0]}}" target="_blank">{{link.[1]}}</a></span>
        {{/each}}
    </div>
{{/if}}
{{#if this.orgs}}
    <div class="user-card-metadata-outlet custom-profile-links-orgs">
        {{#each this.orgs as |org|}}
            <br/>
            <span class="desc">{{org.[0]}}</span> <span><a href="{{org.[2]}}" target="_blank">{{org.[1]}}</a></span>
        {{/each}}
    </div>
{{/if}}
