{{#if this.links}}
<h3 class="user-card-public-field">
    <span class="user-field-value">
        {{#each this.links as |link|}}
        <a href="{{link.[2]}}{{link.[0]}}" target="_blank">{{link.[1]}}</a>
        {{/each}}
        {{#if this.orgs}}
            </br>
            {{#each this.orgs as |org|}}
                <a href="{{org.[2]}}">{{org.[0]}}: {{org.[1]}}</a>
            {{/each}}
        {{/if}}
    </span>
</h3>
{{/if}}